* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
}
/*-----------------SECTION__ 1-------------------*/
.section__1{
    width: 100%;
    background: rgb(239, 239, 239)

}
.header__superior {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.monedas {
    display: flex;
}

.valor {
    border: none;
    outline: none;
    background: transparent;
    color: rgb(159, 159, 159);
}

p {
    margin-left: 10px;
    color: rgb(159, 159, 159);
}
.usuario {
    display: flex;
}
.usuario a {
    color: rgb(159, 159, 159);
    margin: 8px;
}

.separador {
    background-color: rgb(182, 181, 181);
    width: 1px;
    margin: 7px 7px 7px 5px;
}

.seleccionar__leng{
    cursor: pointer;
}

.seleccionar__leng:before {
    content: '';
    width: 32px;
    height: 32px;
    display: block;
    background-image: url("https://flagsapi.com/US/flat/32.png");
}

.lenguaje__menu {
    position: relative;
    
}

.lenguaje__menu ul {
    margin: 0;
    padding: 0;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    top: 30px;
    left: -17px;
}

.lenguaje__menu ul li a {
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lenguaje__menu ul li a:before {
    content: '';
    width: 32px;
    height: 32px;
    display: block;
}

.en:before {
    background-image: url("https://flagsapi.com/US/flat/32.png");
}

.es:before {
    background-image: url("https://flagsapi.com/ES/flat/32.png");
}

.fr:before {
    background-image: url("https://flagsapi.com/FR/flat/32.png");
}

.cn:before {
    background-image: url("https://flagsapi.com/CN/flat/32.png");
}

.lenguaje__menu ul li:hover {
    background: rgb(239, 239, 239);
}

.lenguaje__menu:hover ul {
    display: block;
}

/*-----------------SECTION__2-------------------*/
.section__2{
    background: white;
}
.logo__search {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.logo {
    display: flex;
}

.logo img {
    width: 90px;
}

.logo h2 {
    margin-left: 8px;
    font-size: 40px;
    font-weight: 100;
    text-transform:uppercase;
}

.search{
    display: flex;
}
.borde{
    display: flex;
    border: 1px rgb(232, 232, 232) solid;
}
.search .categ{
    padding: 10px;
    border: none;
}

.search .buscador{
    width: 400px;
    padding: 10px;
    border: none;
    outline: none;
}

form {
    position: relative;
}

.btn-search{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
    border: none;
    background: white;
}

.btn-cart{
    width: 170px;
    padding: 11px;
    margin-left: 3px;
    background: rgb(249, 141, 25);
    color: white;
    border: none;
    cursor: pointer;
}
